.whiteText {
    color: white;
}

.blackText {
    color: black;
}

.redText {
    color: rgba(220, 38, 38);
}

.boldText {
    font-weight: 700;
}

.semiboldText {
    font-weight: 600;
}

.smallText {
    font-size: 14px;
    line-height: 1.25rem;
}

.mediumText {
    font-size: 16px;
    line-height: 1.5rem;
}

.largeText {
    font-size: 18px;
    line-height: 1.75rem;
}

.xlText {
    font-size: 20px;
    line-height: 1.75rem;
}

.xxlText {
    font-size: 24px;
    line-height: 2rem;
}

.centeredText {
    text-align: center;
}

.inlineText {
    display: inline;
}