.sectionContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1.5rem;
}

.recentUpdatesHeading {
    font-size: 36px;
    line-height: 2.5rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
}

.bullettedList {
    list-style-type: disc;
}