.heading {
    font-weight: 700;
    line-height: 1.25rem;
    color: white;
}

.largeText {
    font-size: 18px;
}

.xlText {
    font-size: 20px;
}

.xxlText {
    font-size: 24px;
}

.xxxltext {
    font-size: 30px;
}

.xxxxlText {
    font-size: 36px;
}

.xxxxxlText {
    font-size: 48px;
}