.smallPlayerContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 14rem;
    width: 97vw;
    background-color: #020617;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    box-shadow: 0px -4px 4px rgba(255, 255, 255, 0.25);
}

.trackMessageContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .75rem;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: .5rem;
}

.buttonPanel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.topLeftButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 5rem;
}

.bottomLeftButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 5rem;
}

.topRightButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 5rem;
}

.bottomRightButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 5rem;
}

.emptySpace {
    height: 2.5rem;
    width: 5rem;
}
